.btn-my-primary{
    border-radius: 8px;
    background: #B68C5A;
    font-family: Poppins;
    height: 60px;
    
}
.btn-my-primary:hover{
    border-radius: 8px;
    background: #B68C5A;
}
.fa-gavel{
    color: #B68C5A;
}
.bg-img1{
    background-image: url('../images/banner.png');
    height: 600px;
    background-size: cover;
    border-radius: 5px
    
    
    
    
}
h1,h5,h4,h3{
    font-family:EB Garamond;
}
p{
    font-family: Poppins;
    font-size: 16px;
    color: #707070;
}
.cl{
    background: linear-gradient(180deg, #F3F3F3 0%, rgba(243, 243, 243, 0.00) 100%);
}

.fa-solid{
    
    color: #B68C5A;
    
    
    
}
.bg-accordian{
    background: #F3F3F3;
}


.slider-1{
    background-image: url("../images/slider-1.jpg");
    height: 600px;
    
}
.carousel-item p{
    color: #F3F3F3;
}
footer p{
    font-size: 16px;
    color:#CFCFCF;
}
.btn-f{
    background-color: #B68C5A;
}
ul li{
    list-style-type: none;
    text-align: start;
}

